*$py.class
**/*.rs.bk
**/mutants.out*/
*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pdb
*.pot
*.py,cover
*.py[cod]
*.sage.py
*.so
*.spec
.Python
.cache
.coverage
.coverage.*
.cursorignore
.cursorindexingignore
.dmypy.json
.eggs/
.env
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pdm-build/
.pdm-python
.pdm.toml
.pybuilder/
.pypirc
.pyre/
.pytest_cache/
.pytype/
.ropeproject
.ruff_cache/
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.webassets-cache
/site
ENV/
MANIFEST
Pipfile.lock
__pycache__/
__pypackages__/
build/
celerybeat-schedule
celerybeat.pid
cover/
coverage.xml
cython_debug/
db.sqlite3
db.sqlite3-journal
debug/
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
htmlcov/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
nosetests.xml
parts/
pdm.lock
pip-delete-this-directory.txt
pip-log.txt
poetry.lock
profile_default/
sdist/
share/python-wheels/
target/
uv.lock
var/
venv.bak/
venv/
wheels/
Cargo.lock